.ArticleWrapper {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Button {
  border: 1px solid grey;
  border-radius: 10%;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.Article {
  display: flex;
  justify-content: flex-start;
}

.Description {
  padding-left: 20px;
}
