.Wrapper {
  z-index: 1100;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 64px;
  margin-bottom: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

.Ul {
  display: inline-flex;
  margin: 10px;
  font-size: 18px;
  list-style: none;
}

.Li {
  padding: 5px;
  text-decoration: none;
  color: black;
}

.Link {
  color: black;
  text-decoration: none;
}

.ActiveLink {
  color: rgb(250, 90, 143);
}
